<div class="row">
  <div class="col-sm-5 text-center">
    <p id="notice"><%= notice %></p>
    <h3>Trumpify your Profile Picture</h3>
    <h4>Add this awesome Filter to your profile picture now.</h4>
    <%= image_tag 'drumpf.png', class: 'filter-overlay' %>
    <br>
    <br>
    <h3>Click below to upload your Profile Picture.</h3>
    <br>
    <br>
    <%= render 'form', image_handler: @image_handler %>
  </div>

  <div class="col-sm-2">
    <%= image_tag 'arrow-right-two.png', class: 'arrow-image' %>
  </div>
  
  <div id="processedImage" class="col-sm-5">
    <%= image_tag 'profile.png', class: 'default-profile' %>
  </div>
</div>

<script>
  $('#new_image_handler').fileupload({
    url: '/process_that_ish',
    dataType: "script",
    type: 'post',
    add: function(e, data){
      // e.preventDefault();
      console.log('image added');
      data.submit();
    }, 
    success: function(data, status) {
      $('#processedImage').html(
        '<div class="col-sm-12"><%= image_tag "/uploads/something.jpg", class: "uploaded-image" %></div><div class="row col-sm-12 text-center"><a href="/uploads/something.jpg" class="btn btn-primary download-link" download="avatar" >Download Image</a></div>'
        );
    }
  });

</script>