<div class="row">
  <div class="col-sm-12 text-center">
    <h3>Create your Pluralsight Profile Picture</h3>
    <br>
    <h3>1. Upload your image. </h3>
    <br>
    <div class="col-sm-12 text-center">
      <%= render 'form', image_handler: @image_handler %>
    </div>

    <p id="notice"><%= notice %></p>
  </div>
  

</div>
<div id="processedImage">
  <div class="row">
    <div class="col-sm-5 text-center">
      <%= image_tag 'filter1.png', class: 'filter1_example col-sm-12' %>
      <br>
      <br>
      <div class="row text-center">
        <%= link_to "Download Image", "#{@file_url}",class: 'btn btn-primary download-link col-sm-6 offset-md-3 disabled text-center', download: 'avatar' %>
      </div>
    </div>
    <div class="col-sm-2" id="arrow-container"></div>
    <div class="col-sm-5 text-center">
      <%= image_tag 'filter2.png', class: 'filter2_example col-sm-12' %>
      <br>
      <br>
      <div class="row text-center">
        <%= link_to "Download Image", "#{@file_url}", class: 'btn btn-primary download-link disabled col-sm-6 offset-md-3', download: 'avatar' %>
      </div>
    </div>
  </div>
</div>
